* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
   body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(120deg, #001f3f, #003366, #001a33);
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


}

header{
    height: px;
    background-image: url();
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

.titulo_main{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-weight: bold;
    line-height: 525px;
    font-size: 180px;
}


/* Main navegation bar */

.main-nav{
    margin: 0;
    list-style: none;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
    font-size: 15px;
}
.main-nav__item {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.main-nav__item a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: blue;
}
.main-nav__item a:hover {
    color: rgb(214, 176, 81);
}
.main-nav__item a:active {
    color: red;
}


/* Contenido de imágenes y lista en general */
.titulo {
    color: rgba(0, 0, 0, 0.996);
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.footer_photo {
    color: rgba(19, 93, 203, 0.99);
}


.inicio {
    text-align: center;
    color: antiquewhite;
}