* {
    box-sizing: border-box;
    padding: 0%;
}

main {
    width: fit-content;
    height: 100px;
   
}


body {
    background-color: grey;
    margin: 0%;
    padding: 0%;
}

header{
    height: 548px;
    background-image: url(https://i.gifer.com/U1qz.gif);
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

header.header-title{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-weight: bold;
    line-height: 440px;
    font-size: 38px;
}


.titulo_main{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-weight: bold;
    line-height: 440px;
    font-size: 38px;
}



/* Zona de links de Header */

.main-nav{
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 21px;
}
.main-nav__item {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.main-nav__item a {
    color:rgb(255, 255, 255);
    padding:0%;
    border-radius: 0%;
    text-decoration:double;
    background-color: blue;
}
.main-nav__item a:hover {
    color: rgb(214, 176, 81);
}
.main-nav__item a:active {
    color: red;
}


/* class de contenido main */
.titulo {
    color: aqua;
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.footer_photo {
    color: aquamarine;
}


.inicio {
    text-align: center;
    color: antiquewhite;
}